<div>
  <div>
    <h4>{{post.title}}</h4>
    <p>Posted by {{post.user.username}} on {{post.date_created}}</p>
  </div>
  <div>
    <p>{{post.post_content}}</p>
  </div>
</div>
<div>
  <label for="Comments">Comments</label>
  <input type="text" placeholder="Enter Comments">
  <button type="submit">Submit</button>
</div>