{{#each posts as |post|}}
<a href="/dashboard/edit/{{post.id}}">
  <div>
    <p>{{post.title}}</p>
    <p>{{post.date_created}}</p>
  </div>
</a>
{{/each}}
<div>
  <a href="/dashboard/add"><button id="new-post-btn">New Post</button></a>
</div>