{{#each posts as |post|}}
<div>
  <a href="">
    <div>
      <h4>{{post.title}}</h4>
      <p>Posted by {{post.user.username}} on {{post.date_created}}</p>
    </div>
  </a>
  <div>
    <p>{{post.post_content}}</p>
  </div>
</div>
{{/each}}