<form id="login-form">
  <input type="Email" placeholder="email" id="email">
  <input type="Password" placeholder="Enter password" id="password">
  <button type="submit">submit</button>
</form>
<script src="/js/login.js"></script>