<form id="post-form">
  <input type="text" placeholder="Add Title" id="title">
  <textarea name="" id="content" cols="30" rows="10"></textarea>
  <button type="submit">Create Post</button>
</form>
<script src="/js/post.js"></script>