<form id='signup-form'>
  <input type="text" id="username">
  <input type="text" id="email">
  <input type="text" id="password">
  <button type="submit">Sign Up</button>
</form>
<script src="/js/signup.js"></script>