.card-margin {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  background-color:cornflowerblue;
  padding: 10px;
}

.comment-container {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
}

.card-width {
  width: 50%;
}

.title-container {
  border-color: 5px white;
  border-radius: 5px;
  border-style: outset;
  width: 15%;
  background-color: white;
  margin-top: 10px;
  border-width: 5px;
  text-align: center;
  color: cornflowerblue;
}

body {
  font-family: 'Playfair Display', serif;
}

.nav-link {
  color: white;
}

.nav-block {
  display: block;
  padding-left: 3em;
  padding-bottom: 2em;
}

.nav-display {
  display: flex;
  justify-content: flex-start;
  font-size: larger;

}

.nav-container {
  background-color:rgb(16, 84, 212)
}

.card_header {
  background-color: cornflowerblue;
  padding-top: 2%;
}

h4 {
  color: white;
}

.card-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
 
  
}

a{
  text-decoration: none !important
}

.card-text {
  text-align: center;
  
}

.card_title {
  text-align: center;
  
  
}

.comment-text-margin {
  margin: 2%;

}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.dashboard-post {
  align-self: center;
  margin-bottom: 2%;
  text-align: center;
}

.dashboard-space {
  margin-bottom: auto;

}

body {
  height: 100vh;

}

header {
  height: 13%;
}

main {
  height: 84%;
}

#new-post-btn {
  height: 3em;
  width: 10vh;
  font-size: larger;
  background-color: cornflowerblue;
}

a > button:hover {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px cornflowerblue
}

